/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body {
    background-image: linear-gradient(to top, #7ebea3, #a9cba6);

}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #53a08e;
    padding: 2%;

}



/* estilos de header */

header {
    display: none;
}
.caja{
    background-color: rgba(79, 200, 204, 0.658);
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 30px;
    display: inline-block;
    
    
}

/* estilos de main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.colorAzul{
    position: relative;
    left: 50px;
    top: -615px;
}
main h2 {
    color: #182941;
    text-align: center;
}

main h2 span {
    display: block
}

main p {
    padding: 1rem;
    text-align: center;
}

main .boton {
    background-color: #51b0df;
    color: whitesmoke;
    padding: 0.7rem;
    box-shadow: 1px 1px 5px black;
    text-shadow: 1px 1px 5px black;

}

main img {
    width: 65%;

}

/* estilos de section */

section {
    display: none;
}

/* estilos de footer */

footer h3,
h4 {
    text-align: center;
}


/* mq */

@media screen and (min-width:600px) {

    /* estilos de header */
    header {
        background-color: #bee0f1;
        display: block;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #182941;

    }

    header nav ul {
        list-style: none;
        display: flex;
        gap: 1.3rem;
    }

    /* estilos de main */
    main {
        padding: 2rem;
    }

    /* estilos de section */
    section {
        display: block;
        display: flex;
        background-color: #a9cba6;
    }

    section div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    section div img {
        width: 20%;
    }

    section div p {
        text-align: center;
    }
}

@media screen and (min-width:1024px) {

    #bodyheader {
        background-image: url(../img/Fondo.jpg);
        background-position: center;
    }

    #bodybackground {

        background-color: #ffffff;
        background-image: linear-gradient(164deg, #ffffff 0%, #0093E9 50%, #80D0C7 100%);


    }

    /*estilos del menu */
    header nav ul li {
        transition: 2s;
    }
}

/*estilos del menu*/
header nav ul li:hover {
    background-color: #51b0df;
    transform:
        scale(1.2) rotate(-3deg);
    box-shadow: 2px 2px 5px black;
    transition: 2s;
    border-radius: 1px;
}

/* estilos del main */
main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "p img"
        "h2 img"
        "p-dos img"
        "boton img";
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: palegreen;
    font-weight: bold;
}

main p {
    grid-area: p;
}

main h2 {
    grid-area: h2;
}

main .p-dos {
    grid-area: p-dos;
}

main .boton {
    grid-area: boton;
}

.colorAzul {
    text-align: center;
}


.btn{
    border-radius: 10px;
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255,0.3);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.btn-green{
    color: white;
    background-color: #3CC93F;
}
.btn-green:hover{
    background-color: #37B839;
}

.btn-green:active{
    background-color: #29962a;
}

form{
    background-color: #51b0df;
    border-radius: 5px;
    color: #999;
    font-size: 20px;
    padding: 50px;
    margin: 0 auto;
    width: 300px;

}

input, textarea{
    border: 0;
    outline: none;
    width: 180px;
}

.field{
    border: solid 1px rgb(66, 134, 173);
    padding: 5px ;
    width: 180px;
}

.field:focus{
    border-color: rgb(12, 180, 192);
}

form fieldset{
    height: 300px;
}


/* estilos de boton */

main .boton:hover {
    transform: scale(0.8);
    border-radius: 20%;
    background-color: #231981;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

main img {
    grid-area: img;
}

/* estilo de img */

main img:hover {
    filter: drop-shadow(2px 2px 5px black);
    transform: rotate(2deg);
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;

}

/* estilos de section */

section div img {
    animation-name: img-latido;
    animation-iteration-count: initial;
    animation-duration: 10s;
    animation-delay: 3s;

}

@keyframes img-latido {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }

}