/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* estilos de header*/
header {
  background-color: linear-gradient(to top, #7ebea3, #a9cba6);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem; }
  header h1 {
    color: #182941; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem; }
    header nav ul li {
      color: #182941; }

body {
  color: linear-gradient(to top, #7ebea3, #a9cba6); }
